<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Buscar por region <small> XXXXXXXX </small></h3>
    <hr>
    <h5>Seleccione la region</h5>
    <div class="row">
    PaísesApp Angular
    11 de 11
    <div class="col">
<!-- se muestra las regiones en botones -->
    <button 
    class="ms-3" >
    XXXXXXXXXXXXX
    </button>
    <!-- <button *ngFor=""
    class="ms-3" >
    XXXXXXXXXXXXX
    </button> -->

    

    </div>
    </div>
    </div>

   <!--  mostrar paises de esa regionpinchada -->
   <div class="row">
    <div class="col">
    
    </div>
    </div>
   <!--  <div *ngIf="paises.length > 0" class="row">
    <div class="col">
    <app-pais-tabla></app-pais-tabla>
    </div>
    </div> -->