<div>
  <h2>Por País</h2>
  <hr />
  <!-- busqueda -->
  <div class="row">
    <div class="col">
      <form autocomplete="off">
        <input
          type="text"
          name="termino"
          class="form-control"
          placeholder="Buscar país ..."
          [(ngModel)]="pais" (keyup.enter)="buscar()"/>
      </form>
    </div>
  </div>

  <div *ngIf="hayError" class="alert alert-danger">
No se encontró nada con el término {{ pais }}
</div>

 <!--  resultado -->
  <div class="row" *ngFor="let pais of paises; let i = index"> 
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate__animated animate__fadeIn animate__faster">
            <td>{{ i }}</td>
            <td>
              <!-- imagen de la bandera correspondiente -->
              <img class="small-flag img-fluid" src="{{pais.flags.png}}" />
            </td>
            <td>{{pais.name.common}}</td>
            <td>{{pais.population}}</td>
            <td>
              <a [routerLink]="['/verPais',pais.cioc]" >Ver...</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
</div>
